
<script src="../../assets/vendor/js/download/download.js"></script>
<script src="../../assets/vendor/js/jquery/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script type = "text/javascript">
$(document).ready(function() {
var data = {};
      var url;
      opt = 1;
      switch(opt){
        case 1:
          url = "../../data/110_2010_20131.json";
          break;
        case 2:
          url = "../../data/107_2016_20201.json";
          break;        
        case 3:
          url = "../../data/137_2020_20201.json";
          break;
        default:
          break;
      }
      $.ajax({
        async: false,
        url: url, //the path of the file is replaced by File.json
        dataType: "json",
        success: function (response) {
          data = response;
      }
    });
avanceGeneracional = data.avanceGeneracional;
        series = [{name:"0-99%",
                  data:[]},
                  {name:"100%",
                  data:[]}];
        labels=[];
        categories = [];
        avanceGeneracional.forEach(function(avance){
          series[0].data.push(Number(avance.a0)+
          Number(avance.a10)+
          Number(avance.a20)+
          Number(avance.a30)+
          Number(avance.a40)+
          Number(avance.a50)+
          Number(avance.a60)+
          Number(avance.a70)+
          Number(avance.a80)+
          Number(avance.a90)+
          Number(avance.a99));
          series[1].data.push(Number(avance.a100));
          categories.push(avance.semestre);
        });
        var options_avance_generacion = {
          series: series,
          title: {
            text: 'Avance Generacional'
          },
          legend: {
            position: 'bottom'
          },
          labels:labels,
          xaxis: {
            categories : categories
          },
          chart: {
          type: 'line',
          animations :{
            enabled: false
          },
          toolbar :{
            show: false
          }
          },
          plotOptions: {
          pie: {
            donut: {
              labels: {
                show: true,
                total: {
                  showAlways: true,
                  show: true
                }
              }
            }
          }
        },
          dataLabels: {
            enabled: true,
            textAnchor: 'start',
            formatter: function (val, opt) {
              return val
            }
          }
        };
        console.log(options_avance_generacion);
    });
</script>
<div id="chart-avance-generacion"></div>