<div class="form-group">
    <div class="form-row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div id='calendar'></div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <br>
    <div class="form-row">
        <div class="col-md-4"></div>

        <div class="col-md-4"></div>
    </div>
</div> 
